.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    color: #222222;
    background-color: #e7e5e5;
    user-select: none;
    gap: 0.5rem;
    margin-top: auto;
}
